<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vacation Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/@geoapify/geocoder-autocomplete@^1/styles/minimal.css">
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/formData.js"></script>

  </head>
  <body style="background-image:url('/static/back2.jpg'); background-position: center;">
    
    <div class="row mb-3"></div>
    <p class="text-center fs-2 fw-semibold">Select your vacation destinations</p>
    
<div class="container" style="background-color: rgb(212, 212, 212,0.5);">
    <section id="inputs">
    
      <div class="row mb-3"></div>
      <div class="row mb-3">
        <div class="col-md-3">
        <label name="locationL" for="loc" class="col-md-1 col-form-label " style="font-weight: bold; padding: 2px">Location:</label>
        <div class="col-md-3"></div>
           
          <div class="input-group ">
            <input name="location" id="loc"type="text" class="form-control " placeholder="Enter City" aria-label="location" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" onClick="add()" type="button">Add</button>
            </div>
          </div>
            <div class="col-md-4"></div>

            
            <label name="date" class="col-md-1 col-form-label"style="font-weight: bold;">Date:</label>
            <div class="col-md-2"></div>

              <div class="col-md-2"></div>
                <div class="input-group date"> 
                  
                  <input name="Calendar" type="text" class="form-control"><span class="input-group-addon">
                    <div class="col-md-2"></div>
                    <i class="fa fa-calendar fa-2x"aria-hidden="true"></i></span>
                </div>
              </div>
          </div>
              
            
      
      <div class="row mb-3">
        <label id="targetTemp" for="temp" class="col-md-10col-form-label"style="font-weight: bold;">Target Temperature:</label>
        <div class="col-md-2">
          <input id="temp" type="temp" class="form-control" name="temp">
        </div>
        
      </div>
      <fieldset class="row mb-3">
        <legend class="col-form-label col-md-3"style="font-weight: bold;">Conditions:</legend>
        <div class="col-md-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" name="rain"id="rain" style="font-weight: bold;">
              Rain
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" name="snow" id="snow" style="font-weight: bold;">
              Snow
            </label>
          </div>
          
        </div>
      </fieldset>
      <div class="row mb-3">
        <div class="col-md-10 ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label"name="wind" id="wind" style="font-weight: bold;">
              Windy
            </label>
          </div>
        </div>
      </div>
      
      <fieldset class="row mb-3">
        <fieldset class="row mb-3"></fieldset>
        <label name="SelectedLoc" class="col-md-10col-form-label"style="font-weight: bold;">Locations Selected:</label>
        <div class="col-md-3">
          <textarea class="form-control" type="text" placeholder="" readonly id="selLoc" name="selectedLocations" rows="3"></textarea>
        </div>
      </fieldset>
      <fieldset class="row mb-3">
      <a href="/calculate" ><button type="submit"  name="Calculate"class="btn btn-primary col-md-2"style="font-weight: bold;">Calculate</button></a>
    </fieldset>
    <fieldset class="row mb-3"></fieldset>
    </div>
</div>
   
  
  </section>
  
</div>
</div></div>
</div>   
     
<script type="text/javascript">
 
  $('.date').datepicker({
    format: 'yyyy/mm/dd',
    calendarWeeks: 'True',
    daysOfWeekDisabled: "1,2,3,4,5,6"
});


</script>
</body>
</html>